[Unit]
Description=evdaemon manages edge evsuits
After=network.target

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/root/work/opencv-pocs/opencv-motion-detect/vendor/lib" "CLOUD_ADDR=tcp://evcloud.ilabservice.cloud:5548"
ExecStart=/root/work/opencv-pocs/opencv-motion-detect/evdaemon
WorkingDirectory=/root/work/opencv-pocs/opencv-motion-detect
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evsuits

[Install]
WantedBy=multi-user.target